<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImapNotify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImapNotify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ImapNotify.Properties.Settings>
      <setting name="ImapServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="UseGmail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlaySound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="URL" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoRun" serializeAs="String">
        <value>False</value>
      </setting>
    </ImapNotify.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ImapNotify.Properties.Settings>
      <setting name="GmailImapServer" serializeAs="String">
        <value>imap.gmail.com</value>
      </setting>
      <setting name="GmailServerPort" serializeAs="String">
        <value>993</value>
      </setting>
      <setting name="GmailWebsite" serializeAs="String">
        <value>https://mail.google.com/</value>
      </setting>
    </ImapNotify.Properties.Settings>
  </applicationSettings>
</configuration>
